/* *{
    margin: 0;
    padding: 0;
} */

h1{
    background-color: #081b31;
    color:aliceblue;
    text-align: center;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 140px;
    width: 154px;
    border-radius: 50%;
    object-fit:cover;
}

.mainBd{
    margin-top: 15px;

}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 40px;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(64, 77, 78);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:5rem;

}
#userScore,#CompScore{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-size: 4rem;

}
.msgContainer{
    margin-top: 3px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#msg{
    background-color: #001b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}